.boxView {
    display: inline-block;
    margin-left:20px;
    width:100%;
    height:200px;
}

.boxGrid{
    margin-left:20px;
    display: inline-block;
    width:100%;
    height:100%;
}

.categorySelect{
    margin-top:10px;
    margin-left:75px;
    margin-bottom:20px;
    width:150px;
}